<robot name="orcus">
  <link name="/camera">
    <visual>
      <geometry>
        <mesh filename="package://marker_pose/meshes/ROV_ORCUS.STL"/>
      </geometry>
      <origin rpy="0 0 3.1415" xyz="2.35 0.2 0.3"/>
        <material name="green">
          <color rgba="0 1 0 0.5"/>
        </material>
    </visual>
  </link>
</robot>
